{% extends "layout.html" %}
{% block content %}
<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Enter Packet To Test</h1>
        </div>
        <form class="user" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">

                <textarea class="form-control" rows="5" id="comment" name="packet" placeholder="Type Here..!!">{% if packet %} {{packet}} {% endif %}</textarea>
            </div>
            

            <input  name="prediction" type="submit" value="Predict" class="btn btn-primary btn-user btn-block">
            <hr>
            <div class="text-center">
                KNN Prediction: {{ result1 }}
            </div>
            <hr>
            <div class="text-center">
                BNB Prediction: {{ result2 }}
            </div>
            <hr>
            <div class="text-center">
                DTC Prediction: {{ result3 }}
            </div>
        </form>
        <hr>

    </div>
</div>

{% endblock %}